<div class="green">
  <div class="container">
    <p class="toDoAppText">ToDo App</p>

    <div class="User">
      <p class="title1">User</p>

      <div class="profil">
        <p class="text">Name</p>
        <p class="text">Familia</p>
      </div>
    </div>

    <div class="newTask">
      <input type="text" name="newTaskInput">
      <button type="button" class="add">
        <p class="textButton">Add task</p>
      </button>
    </div>

    <div class="bttn">
      <div class="mode">
        <p class="title1">Mode</p>
        <div class="mini">
          <button type="button" class="minibtn">1</button>
          <button type="button" class="minibtn">2</button>
        </div>
      </div>

      <div class="sort">
        <p class="title1">Sort</p>
        <div class="mini">
          <button type="button" class="minibtn">3</button>
          <button type="button" class="minibtn">4</button>
        </div>
      </div>
    </div>

  </div>

  <button onClick="logOut()" class="logout">
    <p class="text">Log out</p>
  </button>
</div>
